<div class="post" id=<%= post._id %>>
    <% if (user) { %>
        <h3> Udostępniony przez <%= user.firstName + " " + user.lastName %> </h3>
        <% } %>
            <div class="creator">
                <% if (post.userWall._id.toString() === post.creator._id.toString()) { %>
                    <%= post.creator.firstName %>
                    <%= post.creator.lastName %>
                <% } else { %>
                    <%= post.creator.firstName %>
                    <%= post.creator.lastName %>
                    >
                <%= post.userWall.firstName %>
                    <%= post.userWall.lastName %>
                <% } %>

            </div>
            <div class="content">
                <%= post.content %>
            </div>
            <div class="actions">
                <div class="buttons">
                    <button class="like">Like</button>
                    <button class="share">Share</button>
                </div>
                <div class="lists">
                    <ul class="likes">
                        <% for(var i = 0; i < post.likes.length; i++) { %>
                            <li class=<%= post.likes[i].id %>><%= post.likes[i].fullName %> </li>
                        <%}%>
                    </ul>
                    <ul class="shares">
                        <% for(var i = 0; i < post.sharedBy.length; i++) { %>
                            <li class=<%= post.sharedBy[i].id %>><%= post.sharedBy[i].fullName %> </li>
                        <%}%>
                    </ul>
                </div>
            </div>
</div>
