<!DOCTYPE html>
<html>
    <head>
        <title>
            Chat
        </title>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>

        <h1>Hello!</h2>
    </body>
</html>
