<!DOCTYPE html>
<html>

<head>
    <title>
        mikroFB
    </title>
    <link rel='stylesheet' href='/css/login.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/login.js"></script>
</head>

<body>
    <div class="alert">
    </div>
    <div class="container">
        <header>
            <h1><strong>mikroFB</strong> Zaloguj się lub zarejestruj</h1>
        </header>
        <main>
            <div class="form-box">
                <header>
                    <h3>Zaloguj się</h3>
                    <p>Wprowadź swój adres email i hasło</p>
                </header>
                <main>
                    <form action="/login" method="post" id="signin">
                        <input type="text" name="email" placeholder="Email..." required />
                        <input type="password" name="password" placeholder="Password..." required>
                        <input type="submit" value="Zaloguj">
                    </form>
                </main>
            </div>
            <div class="vertical-line"></div>
            <div class="form-box">
                <header>
                    <h3>Zarejestruj się</h3>
                    <p>Wypełnij wszystkie pola aby się zarejestrować</p>
                </header>
                <main>
                    <form action="" id="signup">
                        <input type="text" name="firstName" placeholder="Imię..." required/>
                        <input type="text" name="lastName" placeholder="Nazwisko..." required/>
                        <input type="text" name="email" placeholder="e-mail..." required/>
                        <input type="password" id="password" name="password" placeholder="password" required>
                        <input type="password" id="confirm-password" placeholder="password" required>
                        <input type="submit" value="Zarejestruj">
                    </form>
                </main>
            </div>
        </main>
        <footer>
            Made by <strong>Mikołaj Piecuch</strong>
        </footer>
    </div>
</body>
