<!DOCTYPE html>
<html>

<head>
    <title>
        mikroFacebook
    </title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/chat.css' />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/socketio.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/post.js"></script>
</head>

<body>
    <header>
        <a href="/"><h2>microFB</h2></a>
        <div class="typeAhead">
            <input type="text" id="search" autocomplete="off">
        </div>
        <div class="invitations">
            <button id="show-invitations" data-counter="0"></button>
            <ul></ul>
        </div>
        <button class="show-chat"></button>
    </header>
    <main data-wallid=<%=user.id %> id="wall" data-loginuser=<%=loginUser.id %>>
        <div class="actions">
            <h3>Witaj, <%= loginUser.firstName %> </h3>
            <% if (user.id.toString() !== loginUser.id.toString()) { %>
                <h4>Ściana użytkownika: <%=user.firstName + " " + user.lastName %> </h4>
                <% if (isFollowing) { %>
                    <button class="follow following">Nie obserwuj</button>
                <% } else { %>
                    <button class="follow">Obserwuj</button>
                <% } %>
                <button class="rem-friend">Usuń ze znajomych</button>
            <% } %>
        </div>
        <div class="posts">
            <div class="create">
                <textarea name="" id="create-post" value=""></textarea>
                <button id="publish">Opublikuj</button>
            </div>

            <div class="post-container"></div>
        </div>
        <div class="friends">
            <ul></ul>
            <div class="send-everyone">
                <input type="text" id="group-message" value=""/>
                <button id="send-group-message">></button>
            </div>
        </div>
    </main>
    <div class="messages">
    </div>
    <footer>
    </footer>
</body>
