.messages {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    right: 20px;
    .message {
      margin: 0 5px 0 5px;
      width: 300px;
      height: 350px;
      display: flex;
      flex-direction: column;
      transition: .3s all;
      .header {
        background: #07A1C0;
        border-radius: 3px 3px 0 0;
        height: 50px;
        cursor: pointer;
        position: relative;
        text-align: right;
        button {
          font-size: 25px;
          background-color: #07A1C0;
          color: #fff;
          border: 3px solid #07A1C0;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            opacity: 0.7;
          }
        }
      }
      .content {
        height: 100%;
        background-color: #EEE;
        overflow-y: scroll;
        ul {
          height: 100%;
          list-style: none;
          margin: 0;
          padding: 5px;
          li {
            margin: 10px;
            transition: all .5s;
            .head {
              font-size: 13px;
              .name {
                font-weight: 300;
                position: relative;
              }
            }
            .msg {
              margin-top: 20px;
              color: #fff;
              font-size: 15px;
              border-radius: 3px;
              padding: 10px;
              line-height: 25px;
              max-width: 500px;
              position: relative;
              background-color: #AAA;
              word-wrap: break-word;
              &:before {
                content: '';
                position: absolute;
                width: 0px;
                height: 0px;
                top: -12px;
                border-bottom: 12px solid #AAA;

                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
              }
            }
          }
          li.own {
            .head {
              text-align: right;
            }
            .msg {
              background-color: #147CCB;
              &:before {
                top: -12px;
                right: 10px;
                border-bottom: 12px solid #147CCB;
              }
            }
          }
        }
      }
      .footer {
        display: flex;
        height: 50px;
        input {
          margin: 0;
          flex: 1;
          padding: 2px 2px;
          font-size: 15px;
          background: #fff;
          color: #888;
          border: 3px solid #fff;
          box-shadow: none;
          transition: all .3s;
        }
        button {
          font-size: 15px;
          background-color: #07A1C0;
          color: #fff;
          border: 3px solid #07A1C0;
          cursor: pointer;
        }
      }
    }
}
