@smartphone: ~"only screen and (max-width: 850px)";
@desktop: ~"only screen and (min-width: 851px)";

body {
  // font-size: 16px;
  // font-weight: 300;
  // line-height: 30px;
  // text-align: center;
  background-image: url("/image/gradient_bg.png");
  padding: 0;
  font-family: 'Roboto', sans-serif;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    header {
      max-width: 500px;
      color: #fff;
    }
    main {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width:100%;
      max-width: 1500px;


      @media @smartphone {
        flex-direction: column;
      }


      .form-box {
        width: calc(~'100% - 80px');
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;

        @media @desktop {
          width:45%;
          max-width: 450px;
        }
        header {
          text-align: left;
          h3 {
            font-weight: 300;
            font-size: 22px;
            margin: 5px 0px;
          }
          p {
            opacity: 0.8;
            width: 70%;
          }
        }
        main {

          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            input {
              margin: 8px;
              height: 50px;
              padding: 0 20px;
              font-size: 16px;
              background: #fff;
              color: #888;
              border: 3px solid #fff;
              border-radius: 4px;
              box-shadow: none;
              transition: all .3s;
            }
            input[type="submit"] {
              background-color: #07A1C0;
              color: #fff;
              border: 3px solid #07A1C0;
              cursor: pointer;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
      .vertical-line {
        width:10%;
      }
    }
    footer {
      padding: 20px;
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      text-align: center;
    }

  }

  h1 {
    font-size: 38px;
    font-weight: 100;
    line-height: 50px;
  }
  strong {
    font-weight: 600;
  }
  .alert {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    width: calc(~'100% - 60px*2');
    color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px 60px;
    font: 20px arial;
    font-weight: 300;
    height: 20px;
    background-color: rgba(186, 8, 8, 0.6);
    transition: 1s all;
  }
}
