@smartphone: ~"only screen and (max-width: 850px)";
@desktop: ~"only screen and (min-width: 851px)";

body {
  background-image: url("/image/gradient_bg.png");
  padding: 0;
  font-family: 'Roboto', sans-serif;
  header {
    @padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80px;
    width: calc(~'100% - @{padding}*2');
    border: 0;
    top: 0;
    left: 0;
    background-color: rgba(7, 161, 192, 0.9);
    padding: @padding;
    border-radius: 0 0 5px 5px;
    a {
      text-decoration: none;
    }
    .typeAhead {
      display: flex;
      flex-direction: column;
      width: 300px;
      position: relative;
      input {
        flex-basis: 100%;
        height: 50px;
      }
      ul {
        position: absolute;
        top: 10px;
        width: 100%;
        list-style-type: none;
        padding: 0;
        flex-basis: 100%;
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        li {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &.friend {
            background-color: rgba(255, 255, 255, 0.2);
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.4);
          }
          a {
            width: 60%;
          }
          .user-link {
            width: 40%;
            button {
              height: 20px;
              width: 90px;
              cursor: pointer;
              background-color: rgba(7, 161, 192, 0.9)
            }
          }
        }
      }
    }
    .invitations {
      display: flex;
      flex-direction: column;
      width: 200px;
      position: relative;
      ul {
        border: 3px solid #07A1C0;
        border-radius: 5px;
        display: none;
        position: absolute;
        list-style-type: none;
        padding: 0;
        top: 20px;
        width: 90%;
        li {
          background-color: rgba(255, 255, 255, 0.8);
          align-items: center;
          display: flex;
          flex-direction: row;
          padding: 10px;
          button {
            height: 20px;
              width: 90px;
              cursor: pointer;
              background-color: rgba(7, 161, 192, 0.9)
          }
          &:hover {
            background-color: rgba(0,0,0, 0.2);
          }
        }
      }
      button {
        background-image: url("/image/invite.png");
        background-size: 40px 40px;
        height: 44px;
        width: 44px;
      }
      .new-invitations {
        &::before {
          content: '';
          height: 10px;
          border-radius: 50%;
          background-color: red;
          width: 10px;
          position: absolute;
          top: 5px;
          left: 30px;
        }
      }
    }
    .show-chat {
      background-image: url("/image/message.png");
      background-size: 40px 40px;
      height: 44px;
      width: 44px;
    }
  }
  main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    @media @smartphone {
        flex-direction: column;
    }
    .actions {
      display: flex;
      flex-direction: column;
      padding: 5px;
      button {
        margin: 5px;
      }
      h3 {
        color: #fff;
        padding: 5px;
        font-weight: 300;
        font-size: 25px;
        margin: 0px;
      }
      h4 {
        color: #fff;
        padding: 5px;
        font-weight: 300;
        font-size: 20px;
        margin: 0px;
      }
    }
    .posts {
      @media @desktop {
        width: 50%;
      }
      @media @smartphone {
        width: 100%;
      }
      .create {
        display: flex;
        flex-direction: column;
        textarea {
          resize: none;
          height: 60px;
        }
        #publish, textarea {
          margin: 4px;
          padding: 2px 10px;
          font-size: 16px;
          background: #fff;
          color: #888;
          border: 3px solid #fff;
          border-radius: 4px;
          box-shadow: none;
          transition: all .3s;
        }

        #publish {
          background-color: #07A1C0;
          color: #fff;
          border: 3px solid #07A1C0;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
        #get-posts {
          margin: 4px;
          font-size: 15px;
          border-radius: 3px;
          background-color: #07A1C0;
          color: #fff;
          border: 3px solid #07A1C0;
          cursor: pointer;
          display: block;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .post-container {
        display: flex;
        flex-direction: column;
        .post {
          background-color: rgba(0,0,0, 0.3);
          margin: 20px 0;
          border-radius: 5px;
          padding: 10px;
          .creator {
            color: #fff;
            text-align: center;
            font-size: 20px;
          }
          .content {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 10px;
            border-radius: 5px;
            color: #222;
            font-weight: 300;
          }
          .actions {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .buttons {
              align-self: flex-end;
              button {
                width: 100px;
              }
            }
            .lists {
              display: flex;
              margin-top: 10px;
              background-color: rgba(255, 255, 255, 0.1);
              border-radius: 3px;
              color: white;
              ul {
                list-style-type: none;
                position: relative;
                padding-top: 20px;
                flex: 1;
              }
              .likes {
                &::before {
                  content: "Polubienia";
                  top: -10px;
                  position: absolute;
                  font-weight: 300;
                }
              }
              .shares {
                &::before {
                  content: "Udostępnienia";
                  top: -10px;
                  position: absolute;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
    .friends {
      width: 30%;
      @media @smartphone {
        display: none;
        position: fixed;
        top: 100px;
        right: 20px;
      }
      ul {
        padding: 0;
        margin: 0 4px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 3px 3px 0 0;
        list-style-type: none;
        color: white;
        font-weight: 300;
        li {
          padding: 10px 10px 10px 25px;
          position: relative;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
        li.connected {
          &::before {
           content: '';
            height: 15px;
            border-radius: 50%;
            background-color: #47cf73;
            width: 15px;
            position: absolute;
            top: 12px;
            right: 8px;
          }
        }
        li.read-message {
          &::after {
           content: '';
            height: 10px;
            border-radius: 50%;
            background-color: red;
            width: 10px;
            position: absolute;
            top: 15px;
            left: 4px;
          }
        }
      }
      .send-everyone {
        display: flex;
        input {
          margin: 0 0 0 4px;
          flex: 1;
          padding: 2px 10px;
          font-size: 16px;
          background: #fff;
          color: #888;
          border: 3px solid #fff;
          border-radius: 0 0 0 3px;
          box-shadow: none;
          transition: all .3s;
          width: 72%;
        }
        button {
          margin: 0 3px 0 0;
          border-radius: 0 0 3px 0;
        }
      }
    }
  }
  a {
    padding: 10px;
    height: 100%;
    text-decoration-line: none;
    align-self: flex-start;
    &:link {
      color: white;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
  }
  button {
    font-size: 15px;
    border-radius: 3px;
    background-color: #07A1C0;
    color: #fff;
    border: 3px solid #07A1C0;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
